#microservice configuration
spring.application.name=ms-users
server.port= 8081

#Database configuration
spring.datasource.url=jdbc:postgresql://localhost:5432/ms_users_db
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=org.postgresql.Driver

#JPA configuration
spring.jpa.hibernate.ddl-auto= create
spring.jpa.show-sql= true

#JWT configuration
jwt.secret=
jwt.expiration=86400000
