#microservice configuration
spring.application.name=ms-users
server.port= 8081

#Database configuration
spring.datasource.url=jdbc:postgresql://localhost:5432/ms_users_db
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=org.postgresql.Driver

#JPA configuration
spring.jpa.hibernate.ddl-auto=create
spring.jpa.show-sql=true

#JWT configuration
jwt.secret=y[a]t9L:>6v!{KX%Kt*l{>2&rm-c;<?F2eefsZ%?+g7
jwt.expiration=86400000

#eureka configuration
eureka.client.service-url.defaultZone=http://localhost:8762/eureka/